body{
    background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-watercolor-light-yellow-light-green-pink-color-image_7008.jpg);
    }
    .container{
       margin: 10rem auto;
       width:20em;
       background-color: rgb(36, 51, 161);
    }
    
    input{
        margin-bottom: 2rem ;
        margin-top: 2rem;
    }
    
    html{
        background-image: linear-gradient(#993d00,white);
    }