a {
  background-color: rgb(50, 112, 54);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-radius: 4px;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}
.container {
  background-image: url(./images/blueimage.jpg);
}

body {
  background-image: linear-gradient(270deg, #ddc7dd 0%, #c6ecef 100%);
  height: auto;
  width: auto;
  transition: all 400ms ease-out;
  box-shadow: 0 0 8px 3px #e60c8b;
  border: 2px solid #ddc7f7;
  background-color: transparent;
}
