<!-- <link rel="stylesheet" href="bootstrap-5.2.1-dist/css/bootstrap.css" /> -->

<div class="row text-center text-black mb-5" style="background-color: #1b1464">
  <div class="col-lg-7 mx-auto">
    <h1 class="display-4 text-white">
      <i><b>Complaint Redressal System</b> </i>
    </h1>
  </div>
</div>

<div class="row" style="justify-content: center">
  <div style="padding: 2rem">
    <a routerLink="/admin"
      ><b><i>Admin </i></b></a
    ><br />
  </div>
  <div style="padding: 2rem">
    <a routerLink="/customers"
      ><i><b>Customer</b></i> </a
    ><br />
  </div>
  <div style="padding: 2rem">
    <a routerLink="/managers"
      ><i><b>Managers</b></i> </a
    ><br />
  </div>
  <div style="padding: 2rem">
    <a routerLink="/engineers"
      ><b><i>Engineers</i></b> </a
    ><br />
  </div>
</div>

<router-outlet></router-outlet>
